
/* OUR PRODUCT */


 .header1 h2{
    text-align: center;
    font-size: 40px;
   font-weight: 700;
  }
 
 
  .fruits-header h2{
      text-align: center;
    font-size: 40px;

  }
  .Fruits-colum2{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   
  }
  .Products{
    font-size: 50px;
    text-align: center;
   margin-top: 20px;
   color:  rgb(153, 153, 12);
  }

  
  .Fruits-colum1{
    display: grid;
     grid-template-columns: repeat(3,1fr); 
  
  }
  .Fruits-colum1 img{
    margin-left: 2%;
    gap: 30%;
  
  }
    .fruit{
      border: 2px solid white;
    width: 80%;
  }  

  
  .veggie{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .veggie img{
    margin-left: 2%;
  }
  
  .veggie p{
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  }
  .Fruits-colum1 p{
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
  }
  
  
  @media (max-width: 768px) {
    .header1 {
      display: none;
    }
    .veggie,
    .Fruits1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .fruit {
      width: 100%;
      height: auto;
    }
    .fruit p {
      text-align: center;
    }
  } 

  /* OUR PRODUCTS END */

  